<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><!--google cdn-->
      <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script><!--microsoft cdn-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">
    <title>Laxmi General Store-HOME {% block title %} {% endblock %}</title>
      <style>
#active{
color:red;;
}
          {% block style %} {% endblock %}
  </style>
  </head>
  <body>
  <div class="row bg-dark mt-1 pt-4">
    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xs-1"></div>
    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xs-2 mb-2 pb-2">
        <a style="text-decoration:none" href=""><i><h5>Cororna Virus</h5></i></a>
    </div>
     <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xs-2 mb-2 pb-2">
        <a style="text-decoration:none" href="/symptoms"><i><h5>Symptom</h5></i></a>
    </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xs-2 mb-2 pb-2">
        <a style="text-decoration:none" href="https://covid19responsefund.org/"><i><h5>Donate Now</h5></i></a>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xs-2 mb-2 pb-2">
        <a style="text-decoration:none" href="/graph"><i><h5>Coronised Country</h5></i></a>
    </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xs-2 mb-2 pb-2">
        <a style="text-decoration:none" href="https://www.mohfw.gov.in/coronvavirushelplinenumber.pdf"><i><h5>Emergency Contacts</h5></i></a>
    </div>
</div>
  <div class="row">
       <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xs-8 txt">
            {% block body %} {% endblock %}
       </div>
      <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xs-1"></div>
      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xs-3 h4 txt mt-4">
          <div class="row">
              <details>
                  <summary><span class="h5"><i>Stay Safe At your home</i></span></summary>
                  <hr>
                  <div class="txt">
                      It’s very important that you stay at home if you have symptoms that may be caused by COVID-19 or you live with someone
                            that has symptoms. Household isolation will help to control the spread of the virus to friends, the wider community
                            and the most vulnerable.<br><br>
                  </div>
              </details>
          </div>
          <div class="row">
              <details>
                  <summary><span class="h5"><i>Goverment For Public</i></span></summary>
                  <hr>
                  <div class="txt">
                        More state goverment started providing daily basis fooding to poor public so that poor people can survive at their current
                        position under Lock-down of 21 days.<br><br>
                  </div>
              </details>
          </div>
          <div class="row">
              <iframe class="mt-2" width="350" height="400" src="https://www.youtube.com/embed/qF42gZVm1Bo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      </div>
  </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>








